* {
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
	max-height: 100%;
	-webkit-font-smoothing: antialiased !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	background-color: gainsboro;
	/* overflow-x: hidden;
	margin-left: 20px; */
}

/*MAIN*/
/*#top-border {
	background-color: white;
	border-bottom: 1px solid #999;
	box-shadow: 10px 0px 10px #888888;
	font-size: 30px;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 45px;
	width: 100%;
	color: #287190;
	z-index: 3;
	position:absolute;
	top:0px;
	left:0px;
	height:70px;
	right:0px;
	overflow:hidden;
}

#bottom-border {
	background-color: white;
	border-top: 1px solid #888888;
	box-shadow: 10px 0px 10px #888888;
	padding: 30px;
	width: 100%;
	z-index: 3;
	position:absolute;
	bottom:0px;
	height:70px;
	left:0px;
	right:0px;
	overflow:hidden;
}*/

#zooplanner {
	font-size: 30px !important;
	font-weight: bold !important;
	color: #287190 !important;
	padding-left: 10px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	width: 100% !important;
	box-shadow: 0px 1px 4px #888888 !important;
	background-color: white !important;
}

#content {
/*	float: left;*/
	z-index: 0;
	overflow: auto;
	overflow-x: hidden;
	/* position: absolute; */
	bottom: 0;
	max-height: 100%;
	min-height: 100%;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

#exploreBar {
	float: left;
	border: 1px solid #BAC4D6;
	height: 100%;
	top: 0;
	left:0;
	bottom: 0;
	padding: 0px;
	padding-bottom: 3px;
	min-height: 100vh;
	/*max-width: 300px;*/
	max-height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #F4F5F4;
}

#tripBar{
	float: right;
	border: 1px solid #BAC4D6;
	height: auto;
	top: 0;
	right:0;
	bottom: 0;
	padding: 3px;
	background-color: #F4F5F4;
	/*max-width: 300px;*/
	max-height: 100%;
}

#clearTrip {
	font-size: 0.6em;
	color: red;
	position: absolute;
	right: 0px;
	top: 14px;
}

#mapContainer {
	float: left;
	height: auto;
	top:0;
	bottom: 0;
	max-width: 100%;
	max-height: 100%;
	min-height: 100%;
	background-color: #CDD7E7;
	padding: 0px;
}
/*MAIN END*/


#overlay {
	z-index: 1;
	overflow: auto;
	position: absolute;
/*	margin-top: 70px;
	margin-bottom: 70px;*/
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	max-width: 100%;
	/*display: none;*/
}

/*DATE OVERLAY*/
#date-body {
	text-align: center;
	background-image: url("https://farm1.staticflickr.com/980/40000901680_dda5568908_b.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: rgba(205, 209, 217, 0.80);
	z-index: 1;
	min-height: 100vh;
}

#welcome-title {
	padding-top: 15%;
	font-weight: bold;
	color: #27708F;
}

#visit-date {
	padding-top: 60px;
	color: #4a4b4d;

}
#event-date {
	background-color: white;
	width: 500px;
	height: 204px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	padding-top: 10px;
	border-radius: 20px;
	text-align: left;
	color: #287190;
	font-weight: bold;
	font-size: 17px;
	overflow: auto;
}
#event-date-details{
	padding-left: 30px;
}

.detail-date {
	color: gray;
	font-weight: normal;
}

#dateButton {
	margin: auto;
	margin-top: 85px;
}

#calendar {
	text-align: center;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 70px;
}

.btn-default {
	margin-bottom: 133px;
	font-size: 18px;
	letter-spacing: 4px;
	text-align: center;
	background-color:#8AE5DF;
	width: 100px;
	height: 50px;
}

.btn-add {
	float: right;
	margin-right: 15px;
	width: 16px;
	height: 16px;
	text-align: center;
	padding: 2px;
	font-size: 7px;
	line-height: 1.428571429;
	border-radius: 8px;
	background-color: #28bda9;
	color: #FFFFFF;
	box-shadow: 3px 0px 6px #888888;
	
}

.btn-add-lrg {
	margin-right: 15px;
	width: 100px;
	height: 28px;
	text-align: center;
	padding: 3px;
	font-size: 10px;
	line-height: 1.428571429;
	border-radius: 12px;
	background-color: #28bda9;
	color: #FFFFFF;
	box-shadow: 3px 0px 6px #888888;
}
#btn-add-lrgContainer {
	padding-left: 85px;
}

.btn-remove {
	float: right;
	margin-right: 15px;
	width: 16px;
	height: 16px;
	text-align: center;
	padding: 2px;
	font-size: 7px;
	line-height: 1.428571429;
	border-radius: 8px;
	background-color: #FE8300;
	color: #FFFFFF;
	box-shadow: 3px 0px 6px #888888;
}
.btn-remove-lrg {
	margin-right: 15px;
	width: 120px;
	height: 28px;
	text-align: center;
	padding: 3px;
	font-size: 10px;
	line-height: 1.428571429;
	border-radius: 12px;
	background-color: #FE8300;
	color: #FFFFFF;
	box-shadow: 3px 0px 6px #888888;
}
#btn-remove-lrgContainer {
	padding-left: 85px;
}
/*DATE OVERLAY END*/

.title {
	margin-top: 5px;
	font-size: 17px;
	color: #27708F;
}

hr {
	margin-top: -10px;
	margin-bottom: 0.5em;
	border-width: 1px;
	border-color: #27708F;
}

/*FILTER BOX*/
#filterlabel label {
	font-size: 1em;
	font-family: sans-serif;
	color: #6D6F71;
	padding-right: 0px;
	white-space:nowrap;

}
#filter {
	background-color: white;
	margin: 5px;
	padding: 2px;
	border-radius: 5px;

}
/*FILTER BOX END*/

#searchBox {
	background-color: white;
	margin: 5px;
	padding: 2px;
	border-radius: 5px;
}

/*CATEGORY ACCORDION*/
#categories {
	background-color: white;
	margin: 5px;
	padding: 2px;
	border-radius: 5px;
	padding-bottom: 5px;
}
.card {
	width: inherit;
	padding-bottom: 0px;
}
.card-body {
	max-height: 250px;
	overflow: auto;
	padding: 4px;
}
.card-header {
	padding: 0px;	
	margin:0px;
}
.btn-link {
	font-size: 14px;
	font-style: bold;
	color: #27708F;
	padding-top: 0px;
	padding-bottom: 0px;
}

/*CATEGORY ACCORDIAN END*/


input[type="checkbox"] { 
    position: absolute;
    padding-left: 1.4em;
}
input[type="checkbox"] ~ label { 
    padding-left: 1.1em;
    display:inline-block;
}

/*SIMPLE ITEM*/
.simpleItem {
	border: 1px solid #BAC4D6;
	height: 80px;
	margin-bottom: 5px;
	box-shadow: 3px 0px 6px #888888;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #FFFFFF;
	background-color: #FFFFFF;
}
.simpleItemTrip {
	border: 1px solid #BAC4D6;
	height: 80px;
	margin-bottom: 5px;
	box-shadow: 3px 0px 6px #888888;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #FFFFFF;
	background-color: #FFFFFF;
	cursor: move;
}

.simpleItemShadow {
	height: 80px;
	margin-bottom: 5px;
	box-shadow: 3px 0px 6px #888888;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #FFFFFF;
	background-color: rgb(177, 194, 206);
}
.dragged {
	background: #89E5DE;
}

#itemImage {
	/* overflow: hidden; */
	height: 65px !important;
	width: 65px !important;
	justify-content: center;
	margin: 0 auto;
	top:6px;
}
#itemImage img {
	width: initial;
	height: 100% !important;
	/* position: absolute; */
	/* left: -25px; */
	/* display: inline-block; */
}
#itemInfo {
	padding:5px;
	padding-right: 7px;
}
#itemName {
	color: #337ab7 !important;
	font-size: 1em;
	font-weight: bold;
	display: inline;
	white-space:nowrap;
	
}
#mapItemImage {
	overflow: hidden;
	position: relative;
	/* width: 150px; */
	height: 90px;
	/* display: flex; */
	float: left;
	margin: 0 auto;
	left: 22px;
}
#mapItemImage img {
	height: 100%;
	/* position: absolute; */
	/* left: -25px; */
	display: inline-block;
}
#mapItemName {
	font-size: 1em;
	font-weight: bold;
	display: inline;
	white-space:nowrap;
	margin: 0px 0px 0px 0px;
}
#itemLocation {
	font-size: 0.9em !important;
	color:#616666 !important;
	text-overflow: ellipsis;
}
/*SIMPLE ITEM END*/

/*EXPANDED ITEM*/
.expandedItem {
	background-color: white;
	margin: 5px;
	padding: 5px 5px 5px 5px;
	border-radius: 5px;
	padding-bottom: 5px;
	height: 475px;
	max-height: 475px;
	overflow-y: scroll;
	overflow-x: hidden;
}
#expandedItemImage {
	/* overflow: hidden; */
	height: 150px;
	float:left;
	padding-left: 20px;
}
#expandedItemImage img {
	height: 90%;
	margin: 0 0px;
	display: block;
}

.smallImage {
	overflow: hidden;
	position: relative;
	width: 90px;
	height: 90px;
	/* display: flex; */
	float: left;
	margin: 0 auto;
	border-radius: 45px;
}
.smallImage img {
	height: 100%;
	display: inline-block;
}
.smallImageTitle {
	position: absolute;
	top: 0px;
	bottom: 0;
	left: 0px;
	right: 0;
	padding:12px;
	text-align: center;
	margin: 0px 0px 0px 0px;
	background: rgba(144, 156, 163, 0.72);
	font-size: 1em;
	color: rgb(255, 255, 255);
	visibility: hidden;
	opacity: 0;
	transition: opacity .2s, visibility .4s;
}
.smallImageTitle:hover {
	color: white;
}

.smallImage:hover .smallImageTitle {
	visibility: visible;
	opacity: 1;
}

#expandedItemTitle {
	font-weight: normal;
	font-size: 1.2em;
	margin: auto;
}

#expandedItemExhibit {
	margin: auto;
	padding-bottom: 3px;
	border-bottom: 1px solid #BAC4D6; 
}
#expandedItemDescription {
	padding: 20px;
}
#expandedItemDetails {
	padding: 20px 0px 0px 20px;
	margin: auto;

}
#scrollTop {
	position: absolute;
	bottom: 0px;
	padding-left: 110px;
}

#dateHoursBar {
	background-color: white;
	margin: 5px;
	padding: 2px;
	border-radius: 5px;
	padding-bottom: 5px;
	height: 70px;
	max-height: 500px;
}
#dateHoursText {
	color: #27708F;
	font-weight: bold;
	margin: auto;
	text-align: center;
}
#emptyTripContainer {
	padding-top: 200px;
	padding-bottom: 275px;
}
#emptyTripText{
	margin:auto;
	text-align: center;
}
#tripList {
	height: 77vh;
	max-width: 77vh;
	overflow: scroll;
}
.tripDistance {
	margin: auto;
	text-align: center;
}
#finishTripBar {
	margin:auto;
	text-align: center;
	border-top: 1px solid #BAC4D6;
	padding-top: 4px;
}
#finishButton {
	margin:auto;
}
#optimizeButton {
	margin:auto;
	font-size: 14px;
	text-align: center;
	padding: 4px;
	background-color: #BFE45F;
}
#unOptimizeButton {
	margin:auto;
	font-size: 14px;
	text-align: center;
	padding: 4px;
	width: 130px;
	background-color: #FE8300;
}

/* document */
@media print {
    body {
		visibility: hidden;
		overflow:visible;
	}
	#printTrigger {
		visibility: hidden;
	}
    #divname, #divname * {
		visibility: visible;
		overflow:visible;
		background-color: white;
		width: 100%;
    }
    #divname {
        left: 0px;
        top: 0px;
		position:absolute;
		overflow:visible;
    }
	#overlay {
		overflow: visible !important;
		display:block !important;
		height:100% !important;
	}
	#root {
		overflow: visible !important;
		display:block !important;
   		height:100% !important;

	}
	#printMapContainer {
		position: absolute !important;
		/* top: 140px !important; */
		z-index: 0 !important;
		width: 100% !important;
		height: 55% !important;
	}
	#printListItem {
		position: relative !important;
		top: 630px !important;
		background-color: white !important;
		width: 100% !important;
	}
}
#divname {
	background-color: white;
	width:210mm;
	margin: auto;
	min-height: 297mm;
}
#printButton {
	margin: auto;
	font-size: 14px;
	text-align: center;
	padding: 4px;
}
#printButtonContainer {
	padding-left: 70px;
}
#printBackButton {
	font-size: 1.2em;
}
#backButtonContainer {
	margin: auto;
}
#printTopBar {
	background-color: rgb(197, 197, 197);
	margin-bottom: 10px;
	padding: 10px 10px 10px 10px;
	z-index: 100;

}
#printMapContainer {
	position: absolute;
    /* top: 140px; */
    z-index: 0;
    width: inherit;
    height: 75%;
}
#printListItem {
	position: relative;
	top: 600px;
	background-color: white;
}

.material-icons.md-18 { font-size: 18px; }